<h2>About</h2>
<p>
  I'm a software engineer in NYC.
  A few of my favorite tools are AWS, Python and Postgres.
  Away from the keyboard I fancy myself a connoisseur of tea and gin.
</p>

<h2>Projects</h2>
<ul class="main-list">
  <li class="main-list-item">
    <a href="http://rmalecky.github.io/gayMarriage_d3/">Data Visualization: Gay Marriage</a>
  </li>
</ul>

<h2>Contact</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:website@malecky.com">email</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/rmalecky">rmalecky</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/rmalecky">rmalecky</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/rmalecky">@rmalecky</a>
  </li>
</ul>
