<h2>About Zachary</h2>
<p>Zachary Herz grew up on the rough streets of Brooklyn, and learned Latin as a way to keep himself out of trouble. He attended the University of Chicago from 2004 to 2008, majored in Classics and was the only student to cite both amazon.com customer reviews and Seinfeld in his senior thesis. After receiving his bachelor’s degree, he began a joint J.D./Ph.D. program at Yale Law School and Columbia University. He is currently a third-year graduate student in Classical Studies, studying legal and social history in the Late Roman Republic and Empire. Zach hopes to write on the Roman regulatory state, and is editing a project on bankruptcy laws and early Imperial credit markets.</p>

<h2>Contact Zachary</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:god.emperor@zacharyherz.com">email</a>
  </li>
</ul>
